.App {
  text-align: center;
}

.app {
  background-color: #1c1f25;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #37BEBE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.header {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Country-tab {/*
  position: relative;
  border: 2px solid #ffffff;*/
}

.Country {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  box-sizing: border-box;
}

/*.custom-modal-container {
  background-color: white;
}*/

.territory:hover {
  border: solid 3px black !important;
  cursor: pointer;
}

.selected-territory {
  border: solid 3px black !important;
  opacity: 1 ;
  background: repeating-linear-gradient(45deg, transparent, black 10px);
}

.dark-mode {
  background-color: #4D4D4D !important;
  color: #FFFFFF !important;
}

.dark-mode hr {
  height: 3px;
  color: #ffc107;
  background-color: #ffc107;
  opacity: 1;
}