.app {
  background-color: #1c1f25;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Country-tab {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.Country {
  width: calc(25% - 20px);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
}

.dark-mode {
  background-color: #4D4D4D !important;
  color: #FFFFFF !important;
}

.dark-mode hr {
  height: 3px;
  color: #ffc107;
  background-color: #ffc107;
  opacity: 1;
}