.flag-icon {
  width: 60%;
  float: right;
}

.country-card {
  background-color: #4D4D4D !important;
  color: #FFFFFF !important;
}

.country-card hr {
  height: 3px;
  color: #ffc107;
  background-color: #ffc107;
  opacity: 1;
}

.territory-card {
  background-color: #D9D9D9 !important;
  color: #000000 !important;
}

.title {
  font-weight: bold;
}

.sub-title {
  font-weight: bold;
}

.variations {
  margin-bottom: 15px;
  padding-right: 25px;
}

.separator {
  border-left: 1px solid #ccc;
  padding-left: 15px;
  margin-left: 15px;
}

.consumption {
  margin-bottom: 15px;
}

.variation-item,
.consumption-item {
  list-style: none;
  margin-bottom: 5px;
}
